[submodule "awutils"]
	path = awutils
	url = https://github.com/usr-sse2/awutils.git
[submodule "lindenis-v833-RTOS-melis-4.0.git"]
	path = lindenis-v833-RTOS-melis-4.0
	url = https://github.com/usr-sse2/lindenis-v833-RTOS-melis-4.0.git
